* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5em;
	color: rgb(255, 255, 255);
	background: #000000;
}

h1 {
	padding-bottom: .8em;
	margin-bottom: .4em;
	display: inline-block;
	font-size: 2.5em;
	text-transform: uppercase;
	font-style: italic;
	letter-spacing: -2px;
	position: relative;
}

h1::after {
	content: "";
	width: 2em;
	height: 7px;
	position: absolute;
	bottom: 0;
	left: calc(50% - 1em);
	text-align: center;
	background: rgb(0, 0, 0);
}

h2 { margin-bottom: .4em; }

a {
	text-decoration: none;
	font-weight: bold;
	color: #004135;
	position: relative;
}

a::before {
	content: "";
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	height: 2px;
	background:  #004135;
	transition: transform 150ms ease;
	transform: scaleX(0);
	transform-origin: right;
}

a:hover::before{
	transform: scaleX(1);
	transform-origin: left;
}


/* 
	  LISTAS
 */

ul { list-style: none; }
ul li + li {
	margin-top: 1em;
}
ul span {
	font-size: .7em;
	color: rgb(255, 255, 255);
}




/* 
	  FLEX
 */
.flex-container {
	padding: 2em 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	gap: 4em;
	border-top: 1px solid rgb(0, 0, 0);
	border-bottom: 1px solid rgb(0, 0, 0);
}

.flex-container:last-child {
	border-bottom: 0;
}

.flex-container section {
	flex: 1;
}



/*
   SECCION GRAL
 */
section {
	padding: 2em 0;
}

.flex-container section {
	padding: 0;
}



/*
	HEADER
 */

header {
	padding: 2em 2em 115px;
	background-color: #004135;
	background-image: linear-gradient(90deg,  #004135, #004135);
	box-shadow: 0 0 25px rgba(0,0,0,.3);
	text-align: center;
	position: relative;
}

header p {
	text-transform: uppercase;
	letter-spacing: 1px;
}

header img {
	width: 150px;
	border-radius: 50%;
	border: 5px solid rgb(0, 0, 0);
	position: absolute;
    bottom: -40px;
    right: 1px;


}



/* 
CONTENIDO PRINCIPAL
 */
.container {
	width: 80%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 2em 4em;
}



/* 
	SOBRE MI
 */
 h2.contactame {
	margin-top: 1em;
	padding: .4em 1em;
	background: #01614f;
	color: rgb(255, 255, 255);
	display: inline-block;
	border-radius: 5px;
}


/* 
	FOOTER
 */
footer {
	background: #004135;
	color: #ffffff;
	text-align: center;
	padding: 2em;
	font-size: .8em;
	font-weight: bold;
}